@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../app/css-const.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--color-white-1);
}

.width-container {
  max-width: var(--max-width);
  background-color: var(--background-color-2);
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: #551a8b;
}
