:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --max-width: 1600px;
  --max-height: 995px;

  --color-white-1: #ffffff;
  --color-white-2: #e7e7e7;

  --color-black-1: #000000;
  --color-black-2: #2c2929;
  --color-black-3: #444444;

  --color-red-1: #ef4444;
  --color-red-2: #ff0000;

  --color-secondary-1: #001b4d;
  --color-secondary-2: #4585c5;
  --color-secondary-3: #492d7e;
  --color-secondary-4: #e8f0fe;
  --color-secondary-5: #2870b7;
  --color-secondary-6: #683fb7;
  --color-secondary-7: #f9f9f9;

  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  --transition-1: all 0.3s ease-in-out;
}

// Mixins
@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-size-weight($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin button-border($border-color, $color) {
  padding: 0.5rem 1rem;
  border-radius: 25px;
  border: 2px solid var($border-color);
  @include font-size-weight(18px, 400);
  background: none;
  color: var($color);
}

@mixin common-button($bg-color) {
  font-size: 18px;
  font-weight: 400;
  padding: 0.5rem 1rem;
  background-color: var($bg-color);
  color: var(--color-white-1);
  border-radius: 25px;
  width: max-content;
  @include font-size-weight(18px, 400);
}

h1 {
  @include font-size-weight(24px, 500);
  padding-bottom: 2rem;
}
h2 {
  @include font-size-weight(22px, 500);
  padding-bottom: 0.5rem;
}
h3 {
  @include font-size-weight(20px, 500);
  padding-bottom: 0.5rem;
}

input {
  padding: 0.5rem 0.75rem;
  outline: none;
  border-radius: 0.5rem;
  @include font-size-weight(16px, 400);
  border: 1px solid var(--color-secondary-3);
}

.error {
  color: var(--color-red-2);
  padding: 1rem 0;
}

// scrollbar
/* width */
body::-webkit-scrollbar {
  width: 5px;
}

.s-bar::-webkit-scrollbar {
  width: 3px;
}

/* Track */
body::-webkit-scrollbar-track,
.s-bar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--color-secondary-2);
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb,
.s-bar::-webkit-scrollbar-thumb {
  background: var(--color-secondary-1);
  border-radius: 10px;
}

// header
.link {
  &:hover {
    background-color: var(--color-secondary-5);
  }
}
.active {
  background-color: var(--color-secondary-2);
  box-shadow: var(--shadow);
  opacity: 1;
}

header {
  background-color: var(--color-secondary-2) !important;
  .header-wrapper {
    @include flex-center(space-between, center);
    background-color: var(--color-secondary-3);
    border-radius: 3rem;
    border: 1px solid var(--color-secondary-3);
    ul {
      @include flex-center(space-between, center);

      li {
        &:first-child {
          border-top-left-radius: 3rem;
          border-bottom-left-radius: 3rem;
        }
        a {
          padding: 1rem 2rem;
          @include font-size-weight(18px, 400);
          color: var(--color-white-1);
          display: block;
        }
      }
    }

    .side-header {
      .logged-in {
        @include flex-center(space-between, center);
        gap: 2rem;
        padding-right: 2rem;
        position: relative;

        .search-container {
          .search-results {
            position: absolute;
            top: 50px;
            background-color: var(--color-white-1);
            border-radius: 0.5rem;
            width: 275px;
            box-shadow: var(--shadow);
            z-index: 5;
            padding: 0.75rem;

            > div {
              overflow-y: scroll;
              max-height: 200px;
              padding-right: 5px;

              > p {
                border-bottom: 1px solid var(--color-secondary-5);
                padding: 0.5rem 0;
                transition: var(--transition-1);

                &:last-child {
                  border: none;
                  padding-bottom: 0;
                }
                &:first-child {
                  padding-top: 0;
                }
                a {
                  padding: 0.75rem 0.5rem;
                  color: var(--color-black-2);
                  border-radius: 0.5rem;

                  &:hover {
                    background-color: var(--color-secondary-4);
                  }
                }
              }
            }
          }
          .search {
            border-radius: 0.5rem;
            border: 1px solid var(--color-secondary-3);
            background-color: var(--color-white-1);
            width: 275px;
            justify-content: flex-start;
            padding-right: 0.75rem;

            label {
              padding: 0.2rem 0.75rem;
              padding-right: 0;
              flex: 1 1;

              input {
                background: transparent;
                border: none;
                border-radius: 0;
                padding: 0;
                width: 90%;
              }
            }
            > svg {
              cursor: pointer;
            }
          }
        }

        a {
          @include font-size-weight(18px, 400);
          color: var(--color-white-1);
          padding: 1rem 2rem;
          display: block;
        }
        button {
          @include common-button(--color-secondary-1);
          padding: 2px 1rem;
          font-size: 16px;
          transition: var(--transition-1);

          &:hover {
            @include common-button(--color-secondary-3);
            padding: 2px 1rem;
            font-size: 16px;
          }
        }
      }
      .logged-out {
        @include flex-center(space-between, center);
        margin-left: -2rem;

        a {
          @include font-size-weight(18px, 400);
          color: var(--color-white-1);
          padding: 1rem 2rem;
          display: block;
          &:last-child {
            border-top-right-radius: 3rem;
            border-bottom-right-radius: 3rem;
          }
        }
      }
    }
  }
}

// footer
footer {
  background-color: var(--color-secondary-2) !important;
  .footer-wrapper {
    p {
      @include font-size-weight(16px, 400);
      color: var(--color-white-1);
    }
  }
}

// login
.login-page {
  @include flex-center(center, center);
  min-height: 70dvh;
  .page-wrapper {
    @include flex-center(center, center);
    flex-direction: column;
    width: 400px;
    background-color: var(--color-white-1);
    padding: 2rem;
    border-radius: 25px;
    box-shadow: var(--shadow);

    .user-type {
      @include flex-center(space-between, center);
      width: 100%;
      padding: 1rem 0;

      .selected {
        @include common-button(--color-secondary-2);
      }
      button {
        @include button-border(--color-secondary-2, --color-secondary-2);
      }
    }

    form {
      width: 100%;

      div {
        input {
          width: 100%;
        }
      }
      button {
        @include common-button(--color-secondary-1);
        width: 100%;
        margin-top: 0.25rem;
      }
    }
  }
}

// register
.register-page {
  @include flex-center(center, center);
  min-height: 70dvh;
  .register-wrapper {
    @include flex-center(center, center);
    flex-direction: column;
    width: 400px;
    background-color: var(--color-white-1);
    padding: 2rem;
    border-radius: 25px;
    box-shadow: var(--shadow);

    form {
      width: 100%;

      div {
        input {
          width: 100%;
        }
        select {
          width: 100%;
          padding: 0.5rem 0.75rem;
          outline: none;
          border-radius: 0.5rem;
          font-size: 16px;
          font-weight: 400;
          border: 1px solid var(--color-secondary-3);
        }
      }
      button {
        @include common-button(--color-secondary-1);
        width: 100%;
        margin-top: 0.25rem;
      }
    }
  }
}

// profile, single job, single user
.info-box {
  margin: 0.5rem 0;
  p {
    @include font-size-weight(16px, 400);
    line-height: 2;

    &:nth-child(2) {
      border-radius: 5px;
      padding: 0.5rem 0.75rem;
      background-color: var(--color-secondary-2);
      color: var(--color-white-1);

      a {
        padding: 0.2rem 1rem;
        border-radius: 10px;
        background-color: var(--color-secondary-3);
      }
      span {
        padding: 0.2rem 1rem;
        border-radius: 10px;
        background-color: var(--color-secondary-3);
      }
    }
  }
}

// profile
.user-profile-page {
  min-height: 70dvh;
  @include flex-center(center, center);

  .profile-wrapper {
    @include flex-center(center, center);
    flex-direction: column;
    width: 600px;
    background-color: var(--color-white-1);
    padding: 2rem;
    border-radius: 25px;

    .profile-details {
      width: 100%;
      padding-bottom: 1rem;
    }

    > .bottom-buttons-wrapper {
      @include flex-center(space-between, center);
      width: 100%;
      margin-top: 2rem;

      > div {
        button {
          @include common-button(--color-secondary-2);
          &:hover {
            background-color: var(--color-secondary-5);
          }
        }
        .del-btn {
          @include button-border(--color-red-1, --color-red-1);
          transition: var(--transition-1);

          &:hover {
            @include button-border(--color-red-2, --color-red-2);
            border-width: 2px;
          }
        }
      }
    }
  }
}

// job card
.job-card {
  background-color: var(--color-white-1);
  padding: 1.5rem;
  border-radius: 12px;
  transition: var(--transition-1);
  box-shadow: var(--shadow);
  &:hover {
    background-color: var(--color-secondary-7);
  }

  .job-card-link {
    padding-bottom: 0.5rem;
    div {
      p {
        @include font-size-weight(18px, 400);
        span {
          @include font-size-weight(18px, 300);
        }
      }
    }
  }

  .card-bottom {
    button {
      @include button-border(--color-secondary-2, --color-secondary-2);
      transition: var(--transition-1);

      &:hover {
        @include button-border(--color-secondary-5, --color-secondary-5);
        border-width: 2px;
      }
    }
    div {
      button {
        @include common-button(--color-secondary-2);
        transition: var(--transition-1);
        &:hover {
          background-color: var(--color-secondary-5);
          color: var(--color-white-1);
        }
      }
      .del-btn {
        @include button-border(--color-red-1, --color-red-1);
        transition: var(--transition-1);

        &:hover {
          @include button-border(--color-red-2, --color-red-2);
          border-width: 2px;
        }
      }
    }
  }
}

// home for all jobs
.home-page {
  min-height: 70dvh;
  .home-top {
    div {
      button {
        @include common-button(--color-secondary-3);
        transition: var(--transition-1);
        &:hover {
          background-color: var(--color-secondary-6);
        }
      }
    }
  }
}

// employer and seeker
.users-page {
  min-height: 70dvh;
}

// seeker application page
.applications-page {
  min-height: 70dvh;
  .applications-wrapper {
    div {
      .job-card {
        div {
          h2 {
            color: var(--color-secondary-3);
          }
          p {
            @include font-size-weight(18px, 400);
            span {
              @include font-size-weight(18px, 300);
            }
          }
          button {
            @include button-border(--color-secondary-1, --color-secondary-1);
            padding: 0.3rem 1.5rem;
          }
        }
      }
    }
  }
}

// single job
.single-job-page {
  min-height: 70dvh;
  width: 100%;
  @include flex-center(center, center);
  .single-job-wrapper {
    &[data-is-employer="true"] {
      display: grid;
      grid-template-columns: 3fr 2fr;
      gap: 2rem;
      width: 100%;
    }
    &[data-is-employer="false"] {
      width: 700px;
    }

    > div {
      width: 100%;
      background-color: var(--color-white-1);
      padding: 2rem;
      border-radius: 25px;
      height: fit-content;
    }
    .user-data {
      position: sticky;
      top: 2rem;
    }
    .my-job-applications {
      div {
        .app-card {
          @include flex-center(flex-start, center);
          flex-direction: column;
          gap: 1rem;

          > div {
            @include button-border(--color-secondary-2, --color-black-2);
            border-radius: 12px;
            padding: 1rem;
            width: 100%;
            transition: var(--transition-1);
            box-shadow: var(--shadow);
            &:hover {
              background-color: var(--color-secondary-7);
            }

            a {
              div {
                p {
                  @include font-size-weight(18px, 400);
                  span {
                    @include font-size-weight(16px, 300);
                  }
                }
              }
            }

            > div {
              button {
                @include button-border(
                  --color-secondary-3,
                  --color-secondary-3
                );
                width: 10rem;
                font-weight: 600;
                transition: var(--transition-1);
                &:hover {
                  @include button-border(
                    --color-secondary-6,
                    --color-secondary-6
                  );
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }
  }
}

// single user
.single-user-page {
  min-height: 70dvh;
  @include flex-center(center, center);

  .single-user-wrapper {
    @include flex-center(center, center);
    flex-direction: column;
    width: 600px;
    background-color: var(--color-white-1);
    padding: 2rem;
    border-radius: 25px;
    div {
      width: 100%;
    }
  }
}

// ##### modals #####
.modal-container {
  .modal-wrapper {
    background-color: var(--color-white-1);
    padding: 1rem;
    border-radius: 25px;
    min-width: 400px;

    > div {
      border: 2px solid var(--color-secondary-3);
      padding: 0.75rem;
      border: 2px solid var(--color-secondary-3);
      border-radius: 20px;

      > form {
        > div {
          input {
            width: 100%;
          }
          div {
            width: 100%;
          }
          > .req {
            > div {
              > div {
                button {
                  @include common-button(--color-secondary-1);
                  &:nth-child(1) {
                    @include button-border(--color-red-1, --color-red-1);
                  }
                  font-size: 16px !important;
                  font-weight: 300 !important;
                  padding: 0.2rem 0.75rem !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

// chat
.chat-page {
  @include flex-center(center, center);
  height: 90vh;

  .chat-wrapper {
    height: 100%;
    width: 800px;
    background-color: var(--color-white-1);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: var(--shadow);
    @include flex-center(space-between, center);
    flex-direction: column;

    .chat-container {
      flex: 1;
      border: 2px solid var(--color-secondary-3);
      padding: 0.5rem 1rem;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      > div {
        flex: 1;
        width: 100%;
        min-height: 100px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;

        .message-list {
          overflow-y: auto;
          padding-right: 0.5rem;
          .my {
            background-color: var(--color-secondary-4);
          }
          > div {
            margin-top: 2rem;
            margin-bottom: 1rem;
            padding: 0.5rem 0.75rem;
            border-radius: 5px;
            background-color: var(--color-white-2);
            box-shadow: var(--shadow);
            min-width: 400px;
            &:first-child {
              margin-top: 0;
            }
            &:last-child {
              margin-bottom: 0;
            }

            .msg-top {
              h5 {
                @include font-size-weight(18px, 400);
              }
              p {
                @include font-size-weight(16px, 400);
              }
            }
            p {
              @include font-size-weight(20px, 400);
            }
          }
        }
      }
      form {
        width: 100%;

        > div {
          display: flex;
          justify-content: space-between;
          gap: 1rem;
          border-top: 2px solid var(--color-secondary-3);
          padding-top: 0.5rem;
          // padding: 0.5rem 1rem;
          // border-radius: 10px;

          > input {
            width: 100%;
            border: none;
            background-color: var(--color-secondary-4);
          }
          button {
            @include common-button(--color-secondary-2);

            &:disabled {
              @include common-button(--color-white-2);
            }
          }
        }
      }
    }
  }
}
